:root {
  font-size: 62.5%; /* 1rem = 10px */
  font-family: "Roboto", sans-serif;

  --primary-color: #303841;
  --second-color: #f3f3f3;
}

html,
body {
  font-size: 1.6rem;
  background-color: white;
}

/******************* RESET *******************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/******************* HEADER *******************/
#header {
  background: var(--second-color);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20vh;
  top: 0;
  position: fixed;
}

#header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

#header .header-container .logo {
  width: auto;
  height: 18rem;
}

#header .menu-header {
  display: flex;
  cursor: pointer;
  gap: 5rem;
  font-size: 1.8rem;
  list-style: none;
}

#header .menu-header li a {
  color: var(--primary-color);
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.4s ease;
}

#header .menu-header li a:hover {
  color: red;
  filter: brightness(1.1);
}

/******************* SECTION *******************/

#section-img-pratos img {
  display: flex;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.section-titulo {
  display: flex;
  background: var(--second-color);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
  margin-bottom: 3rem;
}

.section-titulo h2 {
  font-size: 3rem;
  font-weight: 600;
}

#pratos {
  width: 70%;
  margin: 0 auto;
}

.prato {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5%;
  margin-bottom: 3rem;
}

.prato img {
  width: 50%;
  height: 50vh;
}

.prato h3 {
  color: var(--primary-color);
  margin-bottom: 3rem;
  font-size: 3.6rem;
  font-weight: 600;
}

.prato-descricao {
  width: 100%;
  padding-left: 2rem;
}

.prato-descricao ul {
  list-style-position: inside;
}

.prato-descricao ul li {
  margin-bottom: 1rem;
  color: var(--primary-color);
  font-size: 1.8rem;
}

.img-chefs {
  display: flex;
  width: 100%;
}

.img-chefs img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

#footer-container {
  width: 70%;
  margin: 0 auto;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.rede-social ul li {
  display: inline-block;
}

.rede-social ul li,
.contato ul li {
  list-style: none;
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.4s ease;
  font-size: 3.6rem;
}

.rede-social ul li:hover,
.contato ul li:hover {
  color: red;
  filter: brightness(1.1);
}
