:root {
  font-size: 62.5%; /* 1rem = 10px */
  font-family: "Nunito", sans-serif;

  --primary-color: #303841;
  --second-color: #f3f3f3;
}

html,
body {
  font-size: 1.6rem;
  background-color: white;
}

/******************* RESET *******************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/******************* HEADER *******************/
#header {
  background: var(--second-color);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20vh;
  top: 0;
  position: fixed;
}

#header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

#header .header-container .logo {
  width: auto;
  height: 18rem;
}

#header .menu-header {
  display: flex;
  cursor: pointer;
  gap: 5rem;
  font-size: 1.8rem;
}

#header .menu-header li a {
  color: var(--primary-color);
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

#header .menu-header li a:hover {
  color: red;
  filter: brightness(1.1);
}

/******************* SECTION *******************/

.section-titulo {
  display: flex;
  background: var(--second-color);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
  margin-bottom: 4rem;
}

.section-titulo h2 {
  font-size: 3rem;
}

#section-img-pratos img {
  display: flex;
  width: 100%;
  height: 100vh;
  background-position: center; /* centralizar a foto */
  background-size: cover; /* aparecer o maximo possivel na area util */
}

#section-pratos {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 4rem;
}

#section-pratos h3 {
  color: var(--primary-color);
}

#section-pratos .prato {
  display: flex;
  align-items: center; /* alinha o texto no meio */
  justify-content: space-between;
  gap: 4rem;
}

#section-pratos .prato img {
  display: flex;
  width: 60%;
  height: 40vh;  
}
